.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rel {position: relative;}

.grid {display: grid;}
.grid-col {grid-template-columns: auto auto;}
.border {border:1px solid #000}

.txt-right {text-align: right;}

.col-white {color: #fff;}

.dp-none {display:none}
.dp-block {display:block}

.marg-auto {margin:auto}

.bg-google {background:#ff4d4d}
.bg-facebook {background:#1a75ff}
.bg-df-grey {background:#d9d9d9}
.bg-df-orange {background:#ff704d}
.bg-df-yellow {background:#ffffcc}
.bg-df-green {background:#ccffcc}
.bg-df-red {background:#ffb3b3}


.border-google {border:1px solid #ff4d4d}
.border-facebook {border:1px solid #1a75ff}
.border-df-grey {border:1px solid #d9d9d9}
.border-df-orange {border:1px solid #ff704d}
.border-df-yellow {border:1px solid #ffffcc}

.border-df-radius {border-radius: 5px;}

.butt-authen-service { padding:12px 10px; border-radius: 5px;}

.cursor {cursor: pointer;}

.box {padding:30px;}
.box-img {width:80px; height:80px}
